*/__pycache__/*
hw3/model.pages
hw4/faceExpressionDatabase/*
hw4/hand/*
hw4/maxent_treebank_pos_tagger/*
hw4/phrases
spec/*
*.csv
*.h5
*.swp
*.DS_Store
*.npy
*.npz
*.txt
*.bat
*.bin
*.pdf
*.zip
*.tar
